@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Wix Madefor Display', sans-serif;
  margin: 0;
}

:root {
  --main-color: #344042;
  --secondary-color: #bcded7;
  --main-color-hover: #516468;
  --secondary-color-hover: #d7fff7;
}

.word_emphasy {
  color: #ffff;
}
