.softwaresolutions_wrapper {
    background: var(--main-color);
}

.softwaresolutions_hero_wrapper {
    padding: 1rem 8rem;
    color: var(--secondary-color);
}

.softwaresolutions_hero_sectionOne {
    font-size: 30px;
    font-weight: 500;
}

.softwaresolutions_hero_sectionTwo {
    font-size: 24px;
    font-weight: 400 !important;
    padding: 3rem 0rem 0rem 8rem;
    display: flex;
    align-items: flex-start;
}

.softwaresolutions_hero_sectionTwo .border_dec {
    border-bottom: 3px solid var(--secondary-color);
    width: 55rem;
    margin-top: 2rem;
}

.softwaresolutions_hero_sectionTwo p {
    padding: 0rem 2rem;
}

@media screen and (max-width: 1080px) {
    .softwaresolutions_hero_wrapper {
        padding: 1rem 3rem;
    }
    .softwaresolutions_hero_sectionTwo {
        padding: 3rem 0rem 0rem 3rem;
    }
}
@media screen and (max-width: 490px) {
    .softwaresolutions_hero_wrapper {
        padding: 1rem 2rem;
    }
    .softwaresolutions_hero_sectionOne {
        font-size: 25px;
    }
    .softwaresolutions_hero_sectionTwo {
        padding: 0rem 0rem 0rem 0rem;
    }
    .softwaresolutions_hero_sectionTwo .border_dec {
        display: none;
    }
    
    .softwaresolutions_hero_sectionTwo p {
        padding: 0rem 0rem;
        font-size: 18px;
    }
}